.selected {
    color: #000 !important;
    background: rgb(236, 235, 235);
    border-radius: 2px;
}

.nav-link {
    color: rgb(75, 75, 75) !important;
}

.nav-link:hover {
    cursor: pointer;
}

.submit-date {
    width: 100%;
}

.short-picker {
    width: 110px !important;
}

.table {
    width: 100%;
}

.sub-tasks td {
    width: 33%;
}

.name-input {
    padding-bottom: 10px;
}

.table {
    margin-top: 10px !important;
}

.clear {
    clear: both;
}

.task-name, .task-state {
    margin-left: 0px;
    float: left;
    padding-right: 20px;
}
.sub-nav-btn {

}
.next-step {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.next-step-buttons {
    margin: 0 auto;
    text-align: center;
}

.modal-header-custom {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
}



.states {
    margin: 0 auto !important;
    text-align: center;
}

.state, .state-static {
    cursor: pointer;
}

.state {
    margin-left: 10px;
}

.submit-form {
    width: 100%;
}

.or-divider {
    padding: 5px;
    display: inline-block;
}

.subtasks-block {
    width: 95%;
    border: 1px solid rgb(214, 214, 214);
    background: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 10px 10px 8px 10px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.subtask-list {
    clear: both;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.big-textarea {
    min-height: 300px;
}



.subtask-details {
    clear: both;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.subtask-modal {

}

.subtask-header {
    font-size: 16px;
    font-style: italic;
}

.confirm {
    margin: 0 auto !important;
    text-align: center !important;
}

.draggable {
    width: 100% !important;
}

.nav-data {
    margin-top: 20px;
}

.nav-data .inside-nav {
    margin: 0 auto;
    text-align: center;
}

.subtask-form, .material-form {
    margin-top: 40px;
}

.material-form {
    text-align: left;
}

.material-form .submit-form {
    width: 100%;
}


.textarea {
    min-height: 80px;
    max-height: 200px;
}

.clear {
    border-top: 1px solid rgb(216, 216, 216);
    padding-top: 2px;
}

.category, .priority {
    padding-bottom: 10px;
}

.category-color {
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 4.5px;
    border-radius: 3px;
}

.edit-field:hover {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

input {
    /*background: black !important;
    width: 100px !important;*/
}

.edit-input-h2 {
    background: none;
    border: 0;
    font-size: 32px;
    margin-left: 0;
    text-align: left;
    float: left;
    width: auto;
    margin-top: -5px !important;
    padding: 0 !important;
    color: rgb(68, 68, 68);
}

.edit-input-h2:focus {
    outline: none !important;
    border: 0;
    box-shadow:none;
    border-color:transparent;
}

.edit-div-h2 {
    padding-bottom: 46px;
}

.category-name {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.category-list, .category-element {
    clear: both !important;
    margin-left: 3px !important;
    padding-bottom: 5px;
}

.clear-category {
    float: right;
}

.category-element:hover {
    cursor: pointer;
}

.priority-element {
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.inline-block {
    display: inline-block;
}

.category-rect {
    width: auto;
    text-align: center;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
}
.category-list {
    height: 200px !important;
    padding: 0px !important;
    padding-top: 5px !important;
    border-radius: 3px !important;
    overflow: auto !important;
}


.material-list {
    clear: both;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.material-list .material {
    text-align: left;
}

.material {
    padding-bottom: 20px;
}

.material-name {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.material-remove-ico {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.small-ico {
    width: 12px;
    height: 12px;
}

.material-content {
    background: #eeeeee;
    border-radius: 10px;
    padding: 10px;
}

.remove-task {
    float: left;
    padding-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.form-check {
    margin-left: 23px;
    padding-right: 23px;
}
.day-option {
    margin-top: 5px;
    cursor: pointer;
}
.number-picker {
    display: inline-block;
    margin-left: 5px;
}

.form-number {
    margin-left: 5px;
    width: 55px;
    text-align: center;
    padding-right: 0px;
    
}

.period-picker {
    display: inline-block;
}

.short-input {
    background: none;
    border: 0;
    font-size: 14px;
    margin-left: 0;
    text-align: left;
    float: left;
    width: auto;
    margin-top: 0px !important;
    padding: 0 !important;
    color: #222;
}

.short-input:focus {
    outline: none !important;
    border: 0;
    box-shadow:none;
    border-color:transparent;
}


.criterion-edit:hover {
    cursor: pointer;
    height: 10px !important;
}

.period-picker .form-control {
    width: 150px;
}

.until {
    display: inline-block;
    margin-left: 10px;
}

.until-picker {
    width: 200px;
    display: inline-block;
}

.big-selector {
    height: 200px;
}
.required-fields, .optional-fields {
    font-size: 16px !important;
}

.text-muted {
    font-size: 14px;
}

.materials-list, .subtasks-list {
    margin-top: 10px;
    padding-bottom: 10px;
}

.repeat, .all-day {
    margin-top: 20px !important;
}

.errors {
    margin-top: 10px;
}

.time-picker {
    margin-top: 15px;
}

.button {
    margin-top: 10px;
}